/* MAIN */
.admin-option{
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 60%;
  border: 4px solid #ff0;
  line-height: 80px;
  font-size: 1.5em;
  margin: 60px auto 0 auto;
  transition: all .3s ease-in-out;
}

.admin-option:hover{
  color: #000;
  background-color: #eee;
  font-size: 1.6em;
}

/* SCENARIOS */
.select-scenario{
  background-color: rgb(255,255,255);
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -300px;
}

.select-scenario h3{
  color: #000;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  font-weight: normal;
}

.edit-list{
  margin: 0;
  height: calc(100% - 55px);
  padding: 0;
  overflow: auto;
}

.edit-list li{
  border-bottom: 1px solid #eee;
}

.edit-list li a{
  display: block;
  color: #888;
  text-decoration: none;
  line-height: 30px;
  padding: 16px;
}

.edit-list li a:hover{
  color: #000;
  background-color: #eee;
}

.add-btn{
  color: rgba(255,255,255,0.87);
  background-color: rgb(16,108,200);
  z-index: 20;
  line-height: 56px;
  cursor: pointer;
  min-width: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 50%;
  background-clip: padding-box;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.add-btn:hover{
  background-color: rgb(1,89,162);
}

.add-box-overlay{
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.add-box-show{
  display: block;
}

.add-box{
  background-color: #fff;
  width: 400px;
  position: absolute;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  border-radius: 2px;
  left: 50%;
  margin-left: -200px;
  top: 30%;
}

.add-box h3{
  color: #000;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  font-weight: normal;
}

.add-box h3 a{
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.add-box h3 a:hover{
  color: #000;
}

.add-box-row{
  overflow: hidden;
  padding: 16px;
  clear: both;
}

.add-box-col{
  display: inline-block;
  width: 50%;
  float: left;
}

.add-box-row label{
  color: #000;
}

.add-box-txt{
  line-height: 30px;
  padding-left: 16px;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
}

.add-box-txt:focus{
  border-bottom: 1px solid rgb(1,89,162);
}

.add-box-txt-sm{
  width: 20%;
  text-align: center;
  padding: 0;
}

.add-box-textarea{
  width: 100%;
  height: 60px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
  resize: none;
}

.add-box-textarea:focus{
  border-bottom: 1px solid rgb(1,89,162);
}

.add-box-footer{
  padding: 16px;
  border-top: 1px solid #ccc;
  min-height: 60px;
}

.add-box-btn{
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
  padding: 0 20px;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
  transition: all .3s ease-in-out;
}

.add-box-btn:hover{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.add-box-btn-del:hover{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.add-box-footer input[type="submit"]{
  float: right;
}

/* EDIT SCN */
.scenario-main{
  height: calc(100% - 50px);
  margin-top: 50px;
  overflow: auto;
}

.scenario-menu{
  width: 20%;
  background-color: #fff;
  height: 100%;
  float: left;
  position: relative;
}

.scn-name{
  line-height: 40px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 16px;
  background-color: #fff;
  font-size: 1.5em;
  outline: 0;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
}

.scn-name:focus{
  background-color: #fff8e1;
}

.scenario-menu-options{
  display: flex;
  flex-direction: row;
}

.scenario-menu-option{
  border: 1px solid #ccc;
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}

.scenario-menu-option:hover{
  background-color: #fff8e1;
}

.scenario-menu-option img{
  width: 24px;
}

.scenario-menu-option-selected{
  background-color: rgb(2, 119, 189) !important;
}

.scenario-menu-option-label{
  color: #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
}

.scenario-menu-paint-sample{
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  margin: 10px auto;
  display: none;
}

.scenario-menu-paint-sample:hover{
  border: 1px solid #000;
}

.scenario-menu-paint-sample-name{
  color: #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
  display: none;
}

.scenario-menu-paint-last{
  height: 240px;
  display: none;
  border-bottom: 1px solid #ccc;
}

.scenario-menu-paint-item{
  width: 80px;
  float: left;
  cursor: pointer;
  height: 80px;
  background-size: 100% 100% !important;
  border: 1px solid #ccc;
}

.scenario-menu-paint-item:hover{
  border: 1px solid #000;
}

.save-scn{
  display: block;
  position: absolute;
  bottom: 30px;
  background-color: rgb(59,153,252);
  left: 60px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  padding: 0 32px;
  border-radius: 4px;
}

.save-scn:hover{
  background-color: rgb(44,145,252);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.save-scn-disabled{
  color: #888;
  background-color: #ccc;
}

.save-scn-disabled:hover{
  background-color: #ccc;
  box-shadow: none;
  cursor: default;
}

.scenario-board{
  height: 100%;
  width: 80%;
  float: left;
}

.board-edit .cell:hover{
  cursor: pointer;
  border: 1px dotted #f00;
}

.cell-selected{
  border: 1px dotted #00f !important;
}

.scenario-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.6);
  display: none;
}

.over-box{
  display: none;
  position: fixed;
  top: 20%;
  background-color: #fff;
  z-index: 20;
  width: 600px;
  left: calc(50% - 300px);
}

.over-header{
  line-height: 30px;
  border-bottom: 1px solid #ccc;
}

.over-header span{
  color: #000;
  display: inline-block;
  margin-left: 16px;
}

.over-header img{
  float: right;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.over-body{
  height: 295px;
  overflow: auto;
}

.over-body-long{
  height: 400px;
  overflow: auto;
}

.cell-detail-option{
  display: inline-block;
  width: 30%;
  margin: 10%;
  float: left;
  position: relative;
}

.cell-detail-option-title{
  color: #000;
  text-align: center;
}

.cell-detail-option-sample{
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 10px auto;
  background-size: auto 100% !important;
}

.cell-detail-option-sample:hover{
  border: 1px solid #000;
}

.cell-detail-option-name{
  display: none;
  color: #000;
  text-align: center;
  border: 1px solid #ccc;
  line-height: 30px;
}

.cell-detail-option-delete{
  display: none;
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
}

.cell-detail-title{
  cursor: pointer;
  color: #000;
  border: 1px solid #888;
  margin: 10px;
  line-height: 24px;
  background-color: #ddd;
}

.cell-detail-title img{
  vertical-align: middle;
  transition: all .3s ease-in-out;
}

.cell-detail-title-open img{
  transform: rotate(90deg);
}

.cell-detail-group{
  height: 0;
  overflow: hidden;
}

.cell-detail-group-open{
  height: auto;
}

.cell-detail-item{
  width: 100px;
  float: left;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 10px;
  height: 100px;
}

.cell-detail-item:hover{
  border: 1px solid #000;
}

.cell-detail-item-sample{
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-size: auto 100% !important;
}

.cell-detail-item span{
  color: #000;
  font-size: 0.6em;
  text-align: center;
  display: block;
}

/* BACKGROUNDS - SPRITES */
.admin-header-add{
  display: inline-block;
  float: right;
  margin-right: 16px;
  padding: 0 16px;
  font-size: 0.8em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.admin-header-add:hover{
  background-color: rgba(255,255,255,0.3);
}

.admin-tabs{
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #fff;
  list-style-type: none;
}

.admin-tabs li:first-child{
  margin-left: 16px;
}

.admin-tabs li{
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  padding: 0 16px;
}

.admin-tabs li:hover{
  background-color: #fff;
  color: #000;
}

.admin-tabs li.admin-tab-selected{
  background-color: #fff;
  color: #000;
}

.admin-tabs li img{
  width: 16px;
  visibility: hidden;
}

.admin-tabs li:hover img{
  visibility: visible;
}

.admin-tab{
  display: none;
}

.admin-tab.admin-tab-selected{
  display: block;
}

.item-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item-list li{
  cursor: pointer;
  float: left;
  margin: 8px;
  display: inline-block;
  background-color: #fff;
  color: #000;
  width: 130px;
  height: 166px;
  position: relative;
}

.item-list li:hover{
  background-color: #ccc;
}

.item-list-sample{
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.item-list li span{
  display: block;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
}

.item-list-info{
  clear: both;
  position: absolute;
  overflow: hidden;
  padding: 2px;
  bottom: 0;
  width: 100%;
}

.item-list-info-item{
  width: 25%;
  float: left;
  text-align: center;
}

.item-list-info-item img{
  width: 24px;
}

.obj-list{
  padding-top: 80px;
}

.obj-category{
  background-color: #fff;
  color: #000;
  margin: 0 auto 10px auto;
  width: 600px;
}

.obj-category-header{
  line-height: 36px;
  font-size: 1.2em;
}

.obj-category-deploy{
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.obj-category-deployed{
  transform: rotate(90deg);
}

.obj-category-btn{
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 0 10px;
  float: right;
}

.obj-category-list{
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.obj-category-list.obj-category-list-open{
  height: auto;
}

.obj-item{
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.obj-item-sample{
  display: inline-block;
  width: 24px;
  height: 24px;
}

.obj-item-name{
  display: inline-block;
}

.obj-item-info{
  display: inline-block;
  float: right;
  margin-right: 22px;
}

.obj-item-info img{
  vertical-align: middle;
}

.obj-item-options{
  display: inline-block;
  float: right;
}

.obj-item-options img{
  cursor: pointer;
}

/* USERS */
.usr-list{
  padding-top: 60px;
}

.usr-item{
  background-color: #fff;
  color: #000;
  margin: 0 auto 10px auto;
  width: 600px;
}

.usr-header{
  line-height: 36px;
  font-size: 1.2em;
}

.usr-deploy{
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.usr-deployed{
  transform: rotate(90deg);
}

.usr-btn{
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 0 10px;
  float: right;
}

.usr-games{
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.usr-games-open{
  height: auto;
}

.usr-game{
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.usr-game-order{
  font-size: 1.3em;
  display: inline-block;
  width: 5%;
}

.usr-game-none{
  display: none;
}

.usr-game-data{
  display: none;
  width: 90%;
}

.usr-game-show{
  display: inline-block;
}

.usr-game-name{
  display: inline-block;
}

.usr-game-scenario{
  display: inline-block;
  float: right;
  margin-right: 30px;
}

.usr-game-options{
  display: inline-block;
  float: right;
}

.usr-game-options img{
  cursor: pointer;
}