/* Backgrounds */
.backgrounds-header {
	padding: 50px 16px 0 16px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;

	& > div {
		flex: 1;

		& > select {
			display: inline-block;
		    padding: 8px;
		    background-color: #000;
		    color: #fff;
		    border: 1px solid #000;
		    font-family: "GraphicPixel",Helvetica,sans-serif;
			cursor: pointer;
			transition: all .3s ease-in-out;

			&:hover {
				border: 1px solid #fff;
			}

			& > option {
				background-color: #fff;
				color: #000;
			}
		}
	}

	& > a {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

/* Assets */
.assets-header {
	padding: 50px 16px 0 16px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;

	& > select {
		display: inline-block;
	    padding: 8px;
		margin-right: 16px;
	    background-color: #000;
	    color: #fff;
	    border: 1px solid #000;
	    font-family: "GraphicPixel",Helvetica,sans-serif;
		cursor: pointer;
		transition: all .3s ease-in-out;

		&:hover {
			border: 1px solid #fff;
		}

		& > option {
			background-color: #fff;
			color: #000;
		}
	}
}

.asset-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 16px;

	.asset-item {
		background-color: #fff;
		color: #000;
		padding: 16px;
		margin-right: 16px;

		& > img {
			width: 128px;
		}

		.asset-info {
			display: flex;
			height: 30px;
			align-items: center;

			span {
				flex: 1;
			}

			.asset-edit {
				cursor: pointer;
			}

			.asset-delete {
				cursor: pointer;
			}
		}
	}

	.asset-message {
		margin: 0 auto;
	}
}

.asset-detail {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	justify-content: center;
	align-items: center;

	.box {
		width: 90%;
		background-color: #fff;
		color: #000;

		.header {
			display: flex;
			height: 50px;
			align-items: center;
			padding-left: 16px;
			font-size: 1.2em;
			border-bottom: 1px solid #ccc;
			position: relative;

			a {
				position: absolute;
				right: 16px;
				color: #888;
				text-decoration: none;

				&:hover {
					color: #000;
				}
			}
		}

		.row {
			padding: 8px 16px;

			& > select {
				display: inline-block;
			    padding: 8px;
				margin-right: 16px;
			    border: 1px solid #fff;
			    font-family: "GraphicPixel",Helvetica,sans-serif;
				cursor: pointer;
				transition: all .3s ease-in-out;

				&:hover {
					border: 1px solid #000;
				}
			}
		}

		.row-image {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.asset-preview {
				width: 128px;
				height: 128px;
				border: 2px solid #000;
				margin-bottom: 16px;
			}

			button {
				font-family: 'GraphicPixel', Helvetica, sans-serif;
				cursor: pointer;
				border: 1px solid #ccc;
				border-radius: 4px;
				background-color: #fff;
				display: block;
				padding: 0 16px;
				font-size: 1.2em;
				color: #000;
				height: 30px;
				outline: 0;

				&:hover {
					box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
				}

				&:disabled {
					background-color: #eee;
				}

				&:disabled:hover {
					box-shadow: none;
					cursor: default;
				}
			}

			input[type='file'] {
				display: none;
			}
		}

		.footer {
			display: flex;
			height: 50px;
			align-items: center;
			padding-right: 16px;
			justify-content: flex-end;
			border-top: 1px solid #ccc;

			button {
				font-family: 'GraphicPixel', Helvetica, sans-serif;
				cursor: pointer;
				border: 1px solid #ccc;
				border-radius: 4px;
				background-color: #fff;
				display: block;
				padding: 0 16px;
				font-size: 1.2em;
				color: #000;
				height: 30px;
				outline: 0;

				&:hover {
					box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
				}

				&:disabled {
					background-color: #eee;
				}

				&:disabled:hover {
					box-shadow: none;
					cursor: default;
				}
			}
		}

		.btn-hide {
			display: none !important;
		}
	}
}

.asset-detail-show {
	display: flex;
}

/* Common */
.fab-button {
	position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
	transition: all .3s ease-in-out;

	&:hover {
		transform: scale(1.2);
	}
}