/* MAIN */
.admin-option{
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 60%;
  border: 4px solid #ff0;
  line-height: 80px;
  font-size: 1.5em;
  margin: 60px auto 0 auto;
  transition: all .3s ease-in-out;
}

.admin-option:hover{
  color: #000;
  background-color: #eee;
  font-size: 1.6em;
}

/* SCENARIOS */
.select-scenario{
  background-color: rgb(255,255,255);
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -300px;
}

.select-scenario h3{
  color: #000;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  font-weight: normal;
}

.edit-list{
  margin: 0;
  height: calc(100% - 55px);
  padding: 0;
  overflow: auto;
}

.edit-list li{
  border-bottom: 1px solid #eee;
}

.edit-list li a{
  display: block;
  color: #888;
  text-decoration: none;
  line-height: 30px;
  padding: 16px;
}

.edit-list li a:hover{
  color: #000;
  background-color: #eee;
}

.add-btn{
  color: rgba(255,255,255,0.87);
  background-color: rgb(16,108,200);
  z-index: 20;
  line-height: 56px;
  cursor: pointer;
  min-width: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 50%;
  background-clip: padding-box;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.add-btn:hover{
  background-color: rgb(1,89,162);
}

.add-box-overlay{
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.add-box-show{
  display: block;
}

.add-box{
  background-color: #fff;
  width: 400px;
  position: absolute;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  border-radius: 2px;
  left: 50%;
  margin-left: -200px;
  top: 30%;
}

.add-box h3{
  color: #000;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  font-weight: normal;
}

.add-box h3 a{
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.add-box h3 a:hover{
  color: #000;
}

.add-box-row{
  overflow: hidden;
  padding: 16px;
  clear: both;
}

.add-box-col{
  display: inline-block;
  width: 50%;
  float: left;
}

.add-box-row label{
  color: #000;
}

.add-box-txt{
  line-height: 30px;
  padding-left: 16px;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
}

.add-box-txt:focus{
  border-bottom: 1px solid rgb(1,89,162);
}

.add-box-txt-sm{
  width: 20%;
  text-align: center;
  padding: 0;
}

.add-box-textarea{
  width: 100%;
  height: 60px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
  resize: none;
}

.add-box-textarea:focus{
  border-bottom: 1px solid rgb(1,89,162);
}

.add-box-footer{
  padding: 16px;
  border-top: 1px solid #ccc;
  text-align: right;
}

.add-box-btn{
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
  padding: 0 20px;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
}

.add-box-btn:hover{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

/* EDIT SCN */
.scn-name{
  line-height: 40px;
  position: absolute;
  top: 70px;
  left: 16px;
  width: 200px;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 16px;
  background-color: rgb(250,250,250);
  font-size: 1.5em;
  outline: 0;
  -webkit-appearance: none;
  font-family: 'GraphicPixel', Helvetica, sans-serif;
}

.scn-name:focus{
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.save-scn{
  display: block;
  position: fixed;
  bottom: 30px;
  background-color: rgb(59,153,252);
  left: 30px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  padding: 0 32px;
  border-radius: 4px;
}

.save-scn:hover{
  background-color: rgb(44,145,252);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.save-scn-disabled{
  color: #888;
  background-color: #ccc;
}

.save-scn-disabled:hover{
  background-color: #ccc;
  box-shadow: none;
  cursor: default;
}

.board-edit .cell:hover{
  cursor: pointer;
  border: 1px dotted #f00;
}

.board-margin{
  margin-left: calc(50% - 480px) !important;
}

.cell-selected{
  border: 1px dotted #00f !important;
}

.board-menu{
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  overflow: auto;
  height: 100%;
  transition: all .3s ease-in-out;
  z-index: 20;
}

.board-menu-open{
  right: 0;
}

.board-menu h3{
  color: #000;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 16px;
}

.board-menu h3 a{
  color: #888;
  text-decoration: none;
  float: right;
  text-transform: uppercase;
}

.board-menu h3 a:hover{
  color: #000;
}

.board-menu-title{
  color: #000;
  border-bottom: 1px solid #ccc;
  padding: 16px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.board-menu-title:hover{
  background-color: #eee;
}

.board-menu-title img{
  vertical-align: middle;
  transition: all .3s ease-in-out;
}

.board-menu-title-open{
  background-color: #ddd;
}

.board-menu-title-open img{
  transform: rotate(90deg);
}

.board-menu-subtitle{
  transition: all .3s ease-in-out;
  padding-left: 20px;
  height: 0;
  overflow: hidden;
  cursor: pointer;
}

.board-menu-subtitle img{
  vertical-align: middle;
  transition: all .3s ease-in-out;
}

.board-menu-subtitle-open > .board-menu-row-content{
  background-color: #ddd;
}

.board-menu-subtitle-open img{
  transform: rotate(90deg);
}

.board-menu-row{
  transition: all .3s ease-in-out;
  height: 0;
  overflow: hidden;
  padding-left: 40px;
  cursor: pointer;
}

.board-menu-row-content{
  color: #000;
  padding: 16px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-menu-subtitle:hover > .board-menu-row-content{
  background-color: #eee;
}

.board-menu-row:hover > .board-menu-row-content{
  background-color: #eee;
}

.board-menu-row-open{
  height: 62px;
}

.board-menu-bck-sample{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.board-menu-row span{
  
}

.board-menu-row img{
  float: right;
}

/* BACKGROUNDS - SPRITES */
.obj-list{
  padding-top: 80px;
}

.obj-category{
  background-color: #fff;
  color: #000;
  margin: 0 auto 10px auto;
  width: 600px;
}

.obj-category-header{
  line-height: 36px;
  font-size: 1.2em;
}

.obj-category-deploy{
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.obj-category-deployed{
  transform: rotate(90deg);
}

.obj-category-btn{
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 0 10px;
  float: right;
}

.obj-category-list{
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.obj-category-list.obj-category-list-open{
  height: auto;
}

.obj-item{
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.obj-item-sample{
  display: inline-block;
  width: 24px;
  height: 24px;
}

.obj-item-name{
  display: inline-block;
}

.obj-item-info{
  display: inline-block;
  float: right;
  margin-right: 22px;
}

.obj-item-info img{
  vertical-align: middle;
}

.obj-item-options{
  display: inline-block;
  float: right;
}

.obj-item-options img{
  cursor: pointer;
}

/* USERS */
.usr-list{
  padding-top: 60px;
}

.usr-item{
  background-color: #fff;
  color: #000;
  margin: 0 auto 10px auto;
  width: 600px;
}

.usr-header{
  line-height: 36px;
  font-size: 1.2em;
}

.usr-deploy{
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.usr-deployed{
  transform: rotate(90deg);
}

.usr-btn{
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 0 10px;
  float: right;
}

.usr-games{
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.usr-games-open{
  height: auto;
}

.usr-game{
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.usr-game-order{
  font-size: 1.3em;
  display: inline-block;
  width: 5%;
}

.usr-game-none{
  display: none;
}

.usr-game-data{
  display: none;
  width: 90%;
}

.usr-game-show{
  display: inline-block;
}

.usr-game-name{
  display: inline-block;
}

.usr-game-scenario{
  display: inline-block;
  float: right;
  margin-right: 30px;
}

.usr-game-options{
  display: inline-block;
  float: right;
}

.usr-game-options img{
  cursor: pointer;
}