@font-face {
	font-family: 'GraphicPixel';
	src: url('../fonts/graphicpixel-webfont.eot');
	src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/graphicpixel-webfont.woff') format('woff'),
	url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
	url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'GraphicPixel', Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-webkit-appearance: none;
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	-webkit-appearance: none;
}

header {
	background-color: #000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	height: 50px;
	width: 100%;
	top: 0;
	z-index: 10;

	img {
		height: 80%;
		display: inline-block;
	}

	a {
		position: absolute;
		display: flex;
		height: 50px;
		align-items: center;
		color: #fff;
		text-decoration: none;
		padding: 0 16px;

		&:hover {
			color: #ff0;
		}
	}
	
	.header-left {
		left: 0;
	}
	
	.header-right {
		right: 0;
	}
}