.game{
  padding-top: 80px;
}

.board{
  width: 800px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin-left: calc(50% - 400px);
  margin-top: 20px;
  position: relative;
  transition: all .3s ease-in-out;
}

.row{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cell{
  flex: 1;
  position: relative;
}

.debug{
  border: 1px dotted #ccc;
}

.sprite{
  width: 100%;
  height: 100%;
  background-size: auto 100% !important;
}

.player{
  position: absolute;
  z-index: 10;
  background-size: auto 100% !important;
}

.player_right{
  background: url('/assets/player/link-right.png') no-repeat center center transparent;
}

.player_left{
  background: url('/assets/player/link-left.png') no-repeat center center transparent;
}

.player_up{
  background: url('/assets/player/link-up.png') no-repeat center center transparent;
}

.player_down{
  background: url('/assets/player/link-down.png') no-repeat center center transparent;
}