.game{
  padding-top: 80px;
}

.board{
  width: 800px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin-left: calc(50% - 400px);
  transition: all .3s ease-in-out;
}

.row{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cell{
  flex: 1;
  overflow: hidden;
  position: relative;
}

.debug{
  border: 1px dotted #ccc;
}

.grass{
  background-color: #489848;
}

.dirt{
  /*background-color: #887848;*/
  background: url('/assets/background/dirt.png') no-repeat center center transparent;
  background-size: 100% 100% !important;
}

.forest{
  background-color: #1fad62;
}

.water-not-deep{
  background-color: #5880c0;
}

.water-deep{
  background-color: #3860a8;
}

.rock{
  background-color: #888;
}

.player{
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  background-size: auto 100% !important;
}

.player_right{
  background: url('/assets/player/link-right.png') no-repeat center center transparent;
}

.player_left{
  background: url('/assets/player/link-left.png') no-repeat center center transparent;
}

.player_up{
  background: url('/assets/player/link-up.png') no-repeat center center transparent;
}

.player_down{
  background: url('/assets/player/link-down.png') no-repeat center center transparent;
}