<header>
	<a href="/admin/worlds" class="header-left">&lt; Mundos</a>
	Escenarios
	<a class="header-right" href="/admin/logout">Salir</a>
</header>

<div class="scenario-list">
	<div class="header">Escenarios</div>
	<div id="list"></div>
</div>

<a href="#" class="fab-button" id="add-btn">+</a>

<div class="scenario-detail" id="scenario">
	<div class="box">
		<div class="header">
			<span id="scenario-header"></span>
			<a href="#" id="scenario-close">X</a>
		</div>
		<div class="row">
			<input type="text" name="scenario-name" id="scenario-name" value="" placeholder="Nombre del escenario">
		</div>
		<div class="row center">
			<label for="scenario-friendly">Amistoso:</label>
			<input type="checkbox" name="scenario-friendly" id="scenario-friendly" value="1">
		</div>
		<div class="footer">
			<button id="scenario-go">Continuar</button>
		</div>
	</div>
</div>

<script type="text/x-template" id="scenario-list-item">
	<div class="row">
		<a href="/admin/world/{{id_world}}/scenario/{{id}}">{{name}}</a>
		<img src="/img/edit.svg" alt="Editar" title="Editar" class="scenario-edit" data-id="{{id}}">
		<img src="/img/delete.svg" alt="Borrar" title="Borrar" class="scenario-delete" data-id="{{id}}">
	</div>
</script>
<script type="text/x-template" id="scenario-list-empty">
	<div class="row center">
		{{mesg}}
	</div>
</script>

<script>
	const worldId = {{worldId}};
	let scenarioList = [ {{list}} ];
</script>
<script src="/js/admin/scenarios.js"></script>